{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
    <h1>Ваши записи</h1>
    <a href="news" class="btn btn-secondary">Добавить новость</a>
{% else %}
    <h1>Записи в блоге</h1>
{% endif %}
{% for item in news%}
<div class="col-md6 border rounded">
    {% if item.is_private == True %}
        <h2>{{item.title}} <font color="#009100">(личная)</font></h2>
    {% else %}
        <h2>{{item.title}}</h2>
    {% endif %}
    <div>
        {{item.content}}
    </div>
    <div>
        <i>Категория - {{item.category}}</i>
    </div>
    <div>
        <i>Автор - {{item.user.name}}, Дата написания - {{item.created_date}}</i>
    </div>
    {% if current_user.is_authenticated and current_user == item.user %}
    <div>
        <a href="/news/{{ item.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/news_delete/{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
    {% endif %}
</div>
{% endfor %}
{% endblock %}
